:root {
  --primary-color:#00a141;
  --secondary-color:#3dcf77;
  --bg-color:#e1ffed;
  --font-family: var(--secondary-font);
}
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: var(--bg-color);
}
.center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.layout{
  display: grid;
  grid-template-columns: 20% 25% 50%;
  grid-column-gap: 2%;
  grid-template-rows:20vh 75vh;
  grid-row-gap: 2vh;
}

.logo-container{
  background-image: url("/Images/Logo.png");
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

h1 {
  text-align: center;
  margin: 15px 0;
}
.map-container {
  grid-area: 2/1/3/3;
}

#map {
  height: 100%;
  width: 100%;
  margin: 10px;
  border-radius: 20px;
  overflow: hidden;
  border: 3px solid var(--primary-color);
}

#places {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  grid-template-rows: repeat(9, 31vh);
  gap: 15px;
  padding: 15px;
  grid-area: 1/3/3/4;
}

.card {
  position: relative;
  background:var(--secondary-color) ;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  transition: 0.2s ease;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.card-content {
  width: 100%;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 15px rgba(0,0,0,0.15);
}

.card img {
  width: 92%;
  height: 120px;
  object-fit: cover;
  border-radius: 12px;
  margin-top: 7px;
}

.card h3 {
  font-size: 14px;
  padding: 10px;
  margin: 0;
  color: black;
  text-align: center;
}
.distance {
  width: 100%;
  font-size: 14px;
  font-family: var(--secondary-font);

  color: black;
  position: absolute;
  bottom: 10px;
  text-align: center;
}

.filters {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px;
  justify-content: space-between;
}

.filter-group {
  display: flex;
  flex-direction: column;
  font-size: 12px;
}

select, input[type="range"] {
  padding: 5px;
  border-radius: 6px;
  border: 1px solid #ccc;
  accent-color: var(--primary-color);
}

.filter-group > select {
  background-color: var(--primary-color);
  color: var(--bg-color);
  border: none;
  border-radius: 20px;
  margin-top: 15px;
  padding: 7px;
  font-size: 15px;
  font-family: var(--secondary-font);
}

#applyBtn{
  background-color: var(--primary-color);
  border: none;
  font-size: 15px;
  color: var(--bg-color);
  border-radius: 30px;
  padding: 5px 15px;
}

